html {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(29, 28, 28, 0.788);
}

button {
    border-radius: 7px;
    border-color: transparent;
    background-color: rgba(30, 162, 214, 0.459);
    min-width: 200px;
    min-height: 100px;
    max-width: 250px;
    max-height: 150px;
   
}
button:hover {
    transform: translateY(3px);
   
}

a {
    text-decoration: none;
    box-shadow: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

